@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  margin-bottom: 50px;
}

h1, h2, h3, a, button {
  font-family: "Oswald", sans-serif;
  color: #0bb1ba;
}

button {
  font-size: 1.2rem;
}

ul{
  list-style: none;
}

p,
h4,
input,
label,
select {
  font-family: "Josefin Sans", sans-serif;
  color: #303236;
}

input, label, select {
  margin: .3rem;
  background-color: #f8fafa;
}

input[type="email"], input[type="text"], input[type="number"]
{
  font-size: 1.4rem;
}