.article

    &__container
        width: 90%
        margin: auto
        position: relative

    &__read-already-feedback
        padding: 1rem
        background-color: #0bb1ba
        box-shadow: 0 6px 12px #02020233
        font-size: 1.2rem
        border-radius: .5rem
        color: #fff
        font-weight: bold
        position: absolute
        top: 0
        left: 45%

    &__title-general
        margin: 0
        text-align: center
        font-size: 2rem

    &__title-article
        font-size: 1.3rem

    &__btns
        display: flex
        justify-content: space-between
        margin: auto
        outline: none
        padding: .2rem

    &__btn
        border: none
        padding: .2rem
        cursor: pointer
        background-color: #e8ebeb
        border-radius: .3rem
        outline: none

    &__btn:hover
        background-color: #cdd1d1

    &__added
        font-size: 1.2rem

    &__added:focus
        outline: none

    &__read-later-btn
        float: left
        margin-top: 1rem

    &__read-later-btn:focus
        outline: none

    &__read-other-btn
        margin-top: 1rem

    &__read-other-btn:focus
        outline: none

.article > h3
    text-align: center
    margin: .7rem
    font-size: 1.2rem

.article > h4
    text-align: center
    margin: .7rem
    color: #4b4e4e
    font-style: italic
    font-size: 1.2rem

.article > img
    box-shadow: 0 12px 24px rgba(0,0,0,0.3)
    border-radius: .5rem

.article > p
    text-align: left
    width: 95%
    margin: 1rem 0
    font-size: 1.2rem

.article > ul
    list-style-type: circle
    margin-left: 1rem

ul > li
    text-align: left

.article-pseudo
    display: block
    position: relative
    min-height: 100vh
    margin-bottom: 50px

.article-pseudo::after
    content: ""
    background-image: url("../images/back-img-article.jpg")
    background-repeat: no-repeat
    background-position: center
    opacity: .1
    top: 0
    left: 0
    bottom: 0
    right: 0
    position: absolute
    z-index: -1

p > strong
    color: #0bb1ba

@media only screen and (min-width: 1100px)
    .article
        &__container
            width: 75%

        &__img
            width: 500px
            float: left
            margin: 0 1rem 1rem 0

        & > h3
            font-size: 2rem

        & p
            font-size: 1.5rem

        &__btn
            padding: .5rem
            font-size: 1.4rem
