.user-profile-pseudo
    display: block
    position: relative

.user-profile-pseudo::after
    content: ""
    background-image: url("../images/back-img-profile.jpg")
    background-position: center
    background-repeat: no-repeat
    opacity: .1
    top: 0
    left: 0
    bottom: 0
    right: 0
    position: absolute
    z-index: -1

.user-profile
    &__title-container
        font-size: 1.5rem
        margin-bottom: .5rem

    &__avatar-form
        width: 100%

    &__weights-container
        display: flex
        flex-direction: column
        background-color: #fff
        padding: 1rem
        margin: .5rem auto auto
        box-shadow: 0 12px 24px rgba(0,0,0,0.2)
        width: 350px
        border-radius: .5rem

    &__weights-record
        display: grid
        align-items: center
        grid-template-columns: .75fr .2fr 1fr 1fr

    &__weights > p
        font-size: 1rem
        margin-bottom: 0

    &__weight-btn
        text-decoration-line: none
        padding: .4rem
        cursor: pointer
        border-radius: .5rem
        border: none
        background-color: #cfd4d4
        font-size: 1rem
        margin-left: .1rem

    &__weight-form
        margin-top: .5rem
        grid-column-start: 1
        grid-column-end: 5
        width: 100%

    &__before
        font-size: 1.1rem
        grid-row-start: 1
        grid-column-start: 2
        grid-column-end: 5

    &__current
        font-size: 1.1rem
        grid-row-start: 2
        grid-column-start: 2
        grid-column-end: 5
        color: #0bb1ba

    &__weights-icon
        grid-row-start: 1
        grid-row-end: 3
        justify-self: center
        color: #0bb1ba

    &__weight-form > input
        border: 1px solid #0bb1ba
        text-indent: 5px

    &__pic
        width: 250px
        border-radius: 50%

    &__progression-title
        margin-top: 0

    &__progression-btn
        text-decoration-line: none
        padding: .4rem
        cursor: pointer
        border-radius: .5rem
        border: none
        background-color: #cfd4d4
        font-size: 1rem
        margin-left: .3rem

    &__progression-input
        width: 240px

    &__progression-input::-webkit-file-upload-button
        visibility: hidden

    &__progression-input::before
        content: 'Elige avatar'
        display: inline-block
        border: 1px solid #0bb1ba
        border-radius: .5rem
        padding: 5px 3px
        outline: none
        white-space: nowrap
        cursor: pointer
        font-size: 12pt

    &__progression-input:hover::before
        border-color: #686b6b

    &__feedback
        font-size: 1.2rem
        text-align: center
        color: #0bb1ba
        margin-top: .5rem

    &__workout-container
        background-color: #fff
        width: 350px
        margin: 1.5rem auto
        border-radius: .5rem
        box-shadow: 0 12px 24px rgba(0,0,0,0.2)
        padding-bottom: .5rem
        display: flex
        flex-direction: column

    &__no-workout,
    &__no-recipes
        font-size: 1.2rem

    &__recipes-container
        background-color: #fff
        width: 350px
        margin: 1.5rem auto
        border-radius: .5rem
        box-shadow: 0 12px 24px rgba(0,0,0,0.2)
        padding-bottom: .5rem

    &__articles-container
        background-color: #fff
        width: 350px
        margin: 1.5rem auto
        border-radius: .5rem
        box-shadow: 0 12px 24px rgba(0,0,0,0.2)
        padding-bottom: .5rem

    &__articles--link
        font-size: 1.2rem
        color: #303236

    &__no-articles
        font-size: 1.2rem

    &__record-container
        background-color: #fff
        width: 350px
        margin: 1.5rem auto
        border-radius: .5rem
        box-shadow: 0 12px 24px rgba(0,0,0,0.2)
        padding-bottom: .5rem

    &__user
        font-size: 1.5rem
        margin: 1rem 0

        &--name
            font-size: 1.5rem
            color: #0bb1ba

    &__logout-container
        display: flex
        justify-content: flex-end
        width: 100%

    &__logout,
    &__delete
        border: none
        background-color: transparent
        cursor: pointer
        font-size: 1.2rem
        margin: .5rem

    &__name-logout
        display: flex

    &__no-articles
        text-align: center
        font-size: 1.2rem

    &__articles-list
        list-style: none
        font-size: .8rem
        text-align: center

    &__workout-list
        list-style: none
        display: grid
        justify-content: center
        height: 100%

    &__workout-item
        display: flex
        align-items: center

    &__workout--link
        color: #303236
        font-size: 1.2rem

    &__workout-img
        margin-right: .5rem
        color: #0bb1ba

    &__recipes-carousel
        width: 90%
        overflow: auto
        white-space: nowrap
        margin: .5rem auto
        padding-bottom: .5rem

    &__recipes-carousel-recipe
        display: inline-block
        margin: 0 .2rem
        cursor: pointer

    &__recipes-carousel-img
        height: 150px
        width: 175px
        border-radius: .3rem
        -webkit-filter: brightness(100%)

    &__recipes-carousel-recipe > &__recipes-carousel-img:hover
        -webkit-filter: brightness(55%)
        -webkit-transition: all 1s ease
        -moz-transition: all 1s ease
        -o-transition: all 1s ease
        -ms-transition: all 1s ease
        transition: all 1s ease

/* width */
::-webkit-scrollbar
    width: .3rem
    height: .4rem

/* Track */
::-webkit-scrollbar-track
    box-shadow: inset 0 0 5px grey
    border-radius: 5px

/* Handle */
::-webkit-scrollbar-thumb
    background: #489899
    border-radius: 10px

@media screen and (min-width: 768px)
    .user-profile
        &__weight-form > input
            width: 80%
            line-height: 2rem

        &__weights-container,
        &__workout-container,
        &__recipes-container,
        &__articles-container,
        &__record-container
            width: 500px

        &__user
            font-size: 1.8rem
            &--name
                font-size: 1.8rem

        &__pic
            width: 400px

        &__progression-input
            width: 400px

@media screen and (min-width: 1200px)
    .user-profile
        &__before,
        &__current
            font-size: 1.5rem

        &__workout-img
            width: 45px

        &__workout--link
            font-size: 2rem

        &__scale-img
            width: 60px

        &__logout-container
            grid-column: 2/4

        &__title-container
            font-size: 2.5rem

        &__delete,
        &__logout
            font-size: 1.5rem
            margin: 1rem

        &__container
            display: grid
            grid-template-columns: .2fr 1.5fr 1.5fr .2fr

        &__feedback-pic
            font-size: .8rem

        &__avatar
            grid-column: 2/3

        &__weights-container
            grid-column: 3/4

        &__workout-container
            grid-column: 2/3

        &__recipes-container
            grid-column: 3/4

        &__recipes-carousel-img
            height: 175px
            width: 200px

        &__articles-container
            grid-column: 2/3

        &__articles--link
            font-size: 1.75rem

        &__record-container
            grid-column: 3/4

        &__no-recipes,
        &__no-articles,
        &__no-workout
            font-size: 1.5rem
