.bold
    font-weight: bold

.workout-pseudo
    display: block
    position: relative
    min-height: 100vh
    
.workout-pseudo::after
    content: ""
    background-image: url("../images/back-img-workout.jpg")
    background-repeat: no-repeat
    opacity: .1
    top: 0
    left: 0
    bottom: 0
    right: 0
    position: absolute
    z-index: -1
    
.workout
    width: 90%
    margin: auto

    &__mov-title-heart
        display: flex
        justify-content: space-between
        width: 100%
        align-items: center

    &__feedback
        padding: .2rem 0

    &__feedback p
        margin: 0
        font-size: 1rem

    &__feedback img
        width: 35px

    &__name
        text-align: center
        margin: 0
        font-size: 1.4rem
        padding: .5rem 0

    &__heart-btn
        padding: 0
        background-color: transparent
        border: none
        cursor: pointer
    
    &__heart-btn:focus
        outline: none

    &__to-workouts
        font-size: 1.1rem
        margin-top: .2rem
        cursor: pointer
        background-color: #d7e0e0
        border-radius: .5rem
        padding: .3rem
        align-self: center

    &__header

    &__header-pre
        display: flex
        flex-direction: column
        justify-content: center
        margin: 1rem 0
        border: 1px solid #cecece
        padding: .5rem 
        border-radius: .5rem
        background-color: #fff

    &__header p
        font-size: 1.3rem
        margin-bottom: .3rem

    &__description
        margin: auto
        text-align: left
        
    &__description p
        color: #96989c
        font-size: 1.2rem
        margin-bottom: .3rem

    &__layout
        text-align: left
        margin: 1rem auto
        background-color: #fff
        padding: 1rem
        box-shadow: 0 12px 24px rgba(0,0,0,0.3)
        border-radius: .5rem
    
    &__layout p
        font-size: 1.1rem
        margin: .5rem 0

    &__layout strong
        font-size: 1.2rem

    &__layout > h4
        margin: 1rem 0
        font-size: 1.2rem    

@media only screen and (min-width: 768px)
    .workout
        width: 80%

        &__header
            width: 90%
            margin: auto

            & p
                font-size: 1.5rem

        &__layout
            width: 80%

        &__layout p
            font-size: 1.2rem
            margin: .6rem 0

        &__mov-title-heart
            display: flex
            justify-content: space-between

@media screen and (min-width: 1100px)
    .workout
        &__mov-title-heart
            margin-bottom: 2rem

        &__name
            font-size: 2rem

        &__to-workouts
            font-size: 1.3rem
            padding: .7rem

        &__to-workouts:hover
            background-color: #c0dfdf

        &__description
            margin: 0

        &__description p
            font-size: 1.4rem
            margin: .5rem

        &__content
            display: grid
            grid-template-columns: 1.2fr .05fr 2fr

        &__header
            grid-column: 1/2
            display: flex
            flex-direction: column
            height: 100%

        &__content-workout
            grid-column: 3/4